
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-3">
                        <img src="./public/assets/images/logo.jpg" class="img img-responsive img-circle center-block img-thumbnail">
                    </div>
                </div>
                <div class="row">
                    <br>
                    <h4 class="text-center">
                    Imaš pitanje/prijedlog za nas ? Pošalji nam poruku.
                    </h4>
                </div>
            </div>
            <div class="modal-body row">
                <form id="contact-us-form" class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
                    <div class="form-group">
                        <label>* Tvoja email adresa</label>
                        <input id="email" type="text" class="form-control input-lg" required>
                    </div>
                    <div class="form-group">
                        <label>* Tvoja poruka za nas</label>
                        <textarea id="message" required rows=7 class="form-control input-lg"></textarea>
                    </div>
                    <div class="form-group">
                        <button id="send" class="btn btn-danger btn-lg btn-block">Pošalji</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>