#title, #subtitle {
    display: none;
}

#header nav ul li a {
    font-weight: 100;
    font-size: 1em;
    letter-spacing: 0.2rem;
}

.band-member {
    padding: 20px;
}

.img-circle {
    border-radius: 50%;
    width: 50%;
    border: 2px solid;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-center {
      text-align: center;
  }

  .gif-container {
      background: url('../../images/gif/ploca.gif') no-repeat center center;
      width: 430px;
      height: 430px;
      border: 8px solid #000;
      border-radius: 50%;
      -webkit-box-shadow: 0px 14px 57px -5px black;
      -moz-box-shadow: 0px 14px 57px -5px black;
      box-shadow: 0px 14px 57px -5px black;
  }

  ul, li, a {
      border: none!important;
  }

  @media all and (max-width: 736px) {

    .gif-container {
        width: 300px;
        height: 300px;
        border-width: 18px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
  }